.navbar {
  background-color: #222;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  flex-wrap: wrap;
  border-radius: 5%;
}

.nav-left {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #ddd;
}

.logo img {
  height: 40px;
}

.hamburger {
  display: none;
  background: none;
  font-size: 1.8rem;
  border: none;
  color: white;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav-links input {
  padding: 0.4rem 0.6rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
}

.nav-links input:focus {
  outline: 1px solid rgb(65, 135, 170);
  box-shadow: 2px 2px 5px rgba(100, 117, 189, 0.399);
}

.user-section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user-dropdown {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.profile-pic {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.dropdown-menu {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  border: 1px solid #444;
  border-radius: 4px;
  padding: 0.5rem;
  z-index: 100;
  min-width: 120px;
}

.dropdown-menu li {
  list-style: none;
  margin: 0.5rem 0;
}

.dropdown-menu li:hover {
  background-color: #444;
  color: white;
}

.sign-in a {
  color: white;
  font-weight: bold;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .hamburger {
    display: block;
    margin-left: 0.5rem; /* Add spacing if needed */
  }

  .nav-left {
    flex-direction: row;
    justify-content: flex-start; /* Align items to the left */
    align-items: center;
    width: 100%;
    margin-bottom: 0.6rem;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 0.5rem;
  }

  .nav-links.open {
    display: flex;
  }

  .user-section {
    width: 100%;
    justify-content: flex-end;
  }

  .nav-links input {
    width: 100%;
    box-sizing: border-box;
    margin-top: 0.5rem;
  }
}
